.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}.hide {
	display: none;
}
.weight {
	font-size: 36px;
}
.unit {
	font-size: 20vw;
	font-weight: bolder;
	font-style: italic;
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translate(-50%, 50%);
	opacity: 0.2;
	color: rebeccapurple;

}
.reps {
	font-size: 16vw;
	text-transform: uppercase;
	font-weight: bolder;
	font-style: italic;
	text-align: center;
}
.btn {
	background-color: transparent;
	padding: 40px;
	font-size: 16vw;
	text-transform: uppercase;
	font-weight: bolder;
	font-style: italic;
	text-align: center;
}
p {
	margin: 0;
}
