.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}.hide {
	display: none;
}
.weight {
	font-size: 10vw;
	z-index: 9;
}

.unit {
	font-size: 70vw;
	font-weight: bolder;
	font-style: italic;
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, 50%);
	opacity: 0.5;
	color: rebeccapurple;
	z-index: 0;
	pointer-events: none;
}
.reps {
	font-size: 16vw;
	text-transform: uppercase;
	font-weight: bolder;
	font-style: italic;
	text-align: center;
}
.btn {
	border: none;
	background: transparent;
	padding: 40px;
	font-size: 16vw;
	text-transform: uppercase;
	font-weight: bolder;
	font-style: italic;
	text-align: center;
}
p {
	margin: 0;
}
