.menu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 23px;
	height: 23px;
	background: #030303;
	opacity: 0.3;
	cursor: pointer;
	transform: rotate(0);
	transition: transform 2666ms;
	z-index: 29;
	margin: 20px;
	&.active {
		border-radius: 100%;
		transform: rotate(180deg);
	}
}
