.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.exercise {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	resize: none;
	text-align: center;
	font-family: sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 2px;
}

.btn {
	padding: 20px 30px;
	background-color: rgba($color: #3d97bb, $alpha: 0.1);
	margin-top: 2rem;
}

.remove {
	margin-top: 30px;
	background-color: red;
	color: white;
	padding: 10px;
}

.nextPrev {
	background-color: #3d97bb;
	margin: 0 20px;
	padding: 5px;
	&.hide {
		opacity: 0;
		pointer-events: none;
	}
}

.exit {
	position: absolute;
	top: 15px;
	right: 25px;
	&:before,
	&:after {
		background-color: black;
		height: 3px;
		width: 20px;
		position: absolute;
		display: block;
		content: '';
		transform: rotate(-45deg);
		transform-origin: center;
	}
	&::after {
		transform: rotate(45deg);
	}
}
