html, body {
	overflow: hidden;
}
.wrapper {
	height: 100vh;
	width: 100vw;
	background-color: white;
	color: #040404;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	flex-direction: column;
	background-color: #f3f3f3;
	text-transform: uppercase;
	position: relative;
}
.routine {
	cursor: pointer;
	font-weight: bolder;
	font-size: 10vw;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: filter 666ms;
	&.blur {
		filter: blur(20px);
	}
}

input {
	max-width: 100%
}
