html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.workout {
	padding: 20px 30px;
	border-radius: 10px;
	background-color: rgba($color: #3d97bb, $alpha: 0.1);
	margin-bottom: 2rem;
}
